/* SECTION HOME  */
.homeImg {
  padding: 1rem;
  position: relative;  /* obligatorio con fill */
  min-height: 30rem;
  overflow: hidden;

}


.backgroundHome {
object-fit: cover;
z-index: -1;
}


/* SECTION INFO  */

.infoSection {
  padding: 1rem;
  min-height: 24rem;
}

.infoSection h1 {
  font-size: 3rem;
  text-align: center;
}


.infoSection p {
  font-size: 1.5rem;
  margin: auto;
  width: 80%;
  text-align: justify;

}


/* SECTION CARRUSEL   */
.carrusel {
  padding: 1rem;
  color: var(--color-accent);
  align-items: center;
  width: 90%;
  margin: auto;

}

.carrusel h1 {
text-align: center;

}